body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
 
  
}
.MuiFormControl-root {
  width: 300px;
  margin-right: 15px !important;
  margin-bottom: 15px !important;
  
}